{
  "singleQuote": true,
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^preact",
    "<THIRD_PARTY_MODULES>",
    "^/(.*)$",
    "^~/(.*)$",
    "^\\./(.*)$",
    "^\\.\\./(.*)$"
  ]
}
